@import '../../style.css';

:host {
  position: fixed;
  display: flex;
  align-items: center;
  top: 1rem;
  right: 1rem;
  background: black;
  padding: 0 .1em;
  height: 1.65em;
  border-radius: .25em;
  color: #fff;
  font-size: 22px;
  animation: movedown .4s 1;
}
.count {
  display: inline-block;
  min-width: 2.5ch;
  text-align: center;
}
.split {
  height: 100%;
  width: 1px;
  display: inline-block;
  background: currentColor;
  opacity: .25;
}

svg.feather {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 1em;
  height: 1em;
  padding: 0.3em;
}
svg:hover {
  background-color: #fff2;
}
a {
  height: 100%;
}

/* Tooltip */
svg + helper-tooltip-cmp {
  display: none;
  position: absolute;
  flex: none;
  top: 3.5em;
  right: 1px;
}
svg.enabled + helper-tooltip-cmp {
  display: initial;
}

@keyframes movedown {
  from { top: -2em; }
}