@import '../../style.css';

:host {
  position: fixed;
  display: flex;
  align-items: center;
  top: 1rem;
  right: 1rem;
  background: black;
  padding: 0 .4em;
  height: 1.7em;
  border-radius: .25em;
  color: #fff;
  font-size: 20px;
}
.count {
  display: inline-block;
  min-width: 2.5ch;
  text-align: center;
}
.split {
  height: 100%;
  width: 2px;
  display: inline-block;
  background: currentColor;
  opacity: .2;
  margin: 0 .35em;
}
svg:hover {
  background-color: #fff2;
}
svg.feather {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 1em;
  height: 1em;
}
a {
  height: 1em;
}