@import '../../style.css';
 
button.action-style {
  width: calc(var(--action-button-size) * 2);
  overflow: hidden;
  padding: 0;
  background-color: black;
  border: none;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: calc(var(--action-button-size) - 2px);
  height: calc(var(--action-button-size) - 2px);

  top: -1px;
  background-color: currentColor;
  border-radius: inherit;
  box-sizing: border-box;

  top: 1px;
  left: -.8em;
  transition: .4s left;
}

button.on .switch {
  left: .8em;
}

.switch svg {
  top: calc((var(--action-button-size) - 1em) / 2 - 1px);
}

.switch svg:first-child {
  position: absolute;
  left: -1.2em;
}

.switch svg:last-child {
  position: absolute;
  right: -1.2em;
}