@import '../../style.css';

:host {
  display: block;
  margin: 0 auto 0 var(--left-space);
  padding: 5% 0;
  max-width: 480px;
  animation: fad .4s 1;
}
:host(.exit) {
  animation: daf 0.4s 1;
}

/* Small screen */
@media (max-width: 480px) {
  :host {
    margin: 32px 16px;
  }
}
