
@font-face {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}

:root {
  --is-night-mode: 1;
  --font-family-title: 'DM Serif Display', serif;
  --font-family-content: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width: 768px) {
  :root {
    --left-space: 100px;
  }
}
@media (max-width: 768px) {
  :root {
    --left-space: 36px;
  }
}

@keyframes fad {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes daf {
  from { opacity: 1; }
  to { opacity: 0; }
}

body {
  margin: 0;
  font-family: var(--font-family-content);
  font-weight: 300;
  filter: invert(var(--is-night-mode));
  transition: .5s filter;
}
.app {
  background-color: white;
}
html,
body,
.app {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--font-family-title);
  font-weight: normal;
  line-height: 1;
  text-shadow: 0.5px 0 currentColor, 1px 0 currentColor;
}

svg.feather {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 1em;
  height: 1em;
}

a {
  color: inherit;
}

.breadcrumb {
  font-family: var(--font-family-title);
  color: inherit;
}
.breadcrumb + * {
  margin-top: 0;
}

.action-button {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 1.6em;
  width: 1.6em;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  
  color: inherit;
  border: 1px solid currentColor;
  border-radius: 50%;
  background: transparent;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
}