@import '../../style.css';

:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  animation: fad .4s 1;
}
:host(.exit) {
  animation: daf 0.4s 1;
}

:host > svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.action-button svg {
  width: .75em;
  height: .75em;
}

p {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 2%;
  text-align: center;
}

a {
  color: inherit;
}